.intestazione{
    background-color: rgba(156,214,244,255);
}

#immagine{
    width: 200px;
    height: 100px;
}

body{
    margin: 0px;
}

.titolo{
    line-height: 1px;
}

.sottotitolo{
    line-height: 1px;
    color: rgba(203,210,214,255);
}